.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
}
.sidebar ul li:hover {
    background-color: #45b6a7;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.active {
    background-color: #68e0cf;
    color: white;
    border-radius: 5px;

}
.sidebar {
    height: 170vh;
    width: 220px;
}