/* Dans votre fichier CSS global ou dans une feuille de style dédiée */

/* Styles pour les images du carousel */
.carousel-item img {
    width: 100%;
    height: auto;
  }
  
  /* Styles pour les éléments overlay */
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  
  /* Media queries pour rendre le carousel responsive */
  @media (max-width: 768px) {
    .carousel-item {
      text-align: center;
    }
  }
  
  /* Styles pour les cartes */
  .event-card {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    align-items: center;
    width: 350px;
    margin: 10px;
  }
  
  .card-content {
    flex: 1;
    text-align: center;
  }
  
  .card-title {
    font-size: 31px;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .card-description {
    font-size: 17px;
    font-weight: 500;
    color: #eaf0f7;
    margin: 20px;
  }
  
  .button-link {
    background-color: #4a7c59;
    color: white;
    border: 2px solid #4a7c59;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button-link:hover {
    background-color: #1aa37a;
    border-color: #1aa37a;
  }
  
  /* Media queries pour rendre les cartes responsive */
  @media (max-width: 768px) {
    .event-card {
      width: 100%;
    }
  }
  